@import '~bulma/bulma';

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal {
  z-index: 10000;
  .modal-card-body {
    background-color: lightgrey;
  }
  span.colored {
    font-weight: 800;
  }
}

.marker-icon-wrapper {
  border: 2px solid black;
  border-radius: 20px !important;
}

.map-base-layer {
  opacity: 0.6 !important;
}

.popup {
  .heading {
    font-weight: 800;
    margin-bottom: 5;
  }
}

.cluster-text {
  font-size: 13px !important;
  color: white;
  text-align: center;
  font-weight: 700;
  font-family: system-ui;
  text-anchor: middle;
}
