@import '~bulma/bulma';

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal {
  z-index: 10000;
}

.marker-icon-wrapper {
  border: 2px solid black;
  border-radius: 20px !important;
}

.map-base-layer {
  opacity: 0.6 !important;
}

.popup {
  .heading {
    font-weight: 800;
    margin-bottom: 5;
  }
}

$color-marker-icon-halo: black;
$color-marker-icon-radius: 1px;
.marker-icon-wrapper span {
  line-height: 28px !important;
  color: white;
  text-align: center;
  font-size: 12px;
  font-weight: 900;
  font-family: system-ui;
  text-shadow: 0 0 $color-marker-icon-radius $color-marker-icon-halo,
    0 0 $color-marker-icon-radius $color-marker-icon-halo,
    0 0 $color-marker-icon-radius $color-marker-icon-halo,
    0 0 $color-marker-icon-radius $color-marker-icon-halo,
    0 0 $color-marker-icon-radius $color-marker-icon-halo,
    0 0 $color-marker-icon-radius $color-marker-icon-halo,
    0 0 $color-marker-icon-radius $color-marker-icon-halo,
    0 0 $color-marker-icon-radius $color-marker-icon-halo,
    0 0 $color-marker-icon-radius $color-marker-icon-halo,
    0 0 $color-marker-icon-radius $color-marker-icon-halo;
}
